.left-widget{
    width: 100%;
    display: block;
}
.left-widget .header{
    border: 1px solid gray;
    background-color: rgb(73, 73, 72);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    justify-content: center;
    padding: 1% 2%;
    /* border-radius: 5px; */
    position: fixed;
    width: 16%;
    color: #fff;
    z-index: 2;

}
.header .burger{
    display: inline;
    width: 50%;
    
}
.header .burger:hover,
.header .add-new-chat:hover
{
    cursor: pointer;
    opacity: 0.6;
}
.burger div{
    border: 1px solid;
    margin: 4px 0;
}
.header .chat-name{
    width: 100%;
}
.header .add-new-chat{
    align-items: center;
    justify-content: center;
}

.left-widget .prevMessages{
    background-color: rgb(58, 47, 23);
    height: 600px;
    margin: 1% 0;
    border-radius: 2px;
    position: fixed;
    top: 30px;
    width: 20%;
    z-index: 1;
}

