@media screen and (max-width: 700px) {
    .left-widget .header{
        width: 98%;
        align-items: center;
        justify-content: center;
        grid-template-columns: 10% 80% 10%;
    }
    .bot-container .bot-messages{
        margin: 45px 1%;
        font-size: 15px;
    }

}